/* src/app/components/navbar/navbar.component.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.lord-icon {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    padding: 5px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #1e90ff;
    margin-left: 100px;

}

.nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
}

.nav button {
    margin-left: 10px;
}