<!-- src/app/components/navbar/navbar.component.html -->
<ng-container *ngIf="isBrowser">
    <header class="header">
        <div class="logo">
            <lord-icon class="lord-icon" src="https://cdn.lordicon.com/ecngpoqo.json" trigger="hover"
            colors="primary:#16a9c7,secondary:#1663c7">
            </lord-icon>
            SkillMatch
        </div>
        <nav class="nav">
            <a routerLink="/">Home</a>
            <button mat-button routerLink="job-seeker/dashboard">Job Seekers</button>
            <button mat-button routerLink="employer/dashboard">Employers</button>
            <button mat-button routerLink="/login">Login</button>
            <button mat-raised-button color="primary" routerLink="/signup">Sign Up</button>
        </nav>
    </header>
</ng-container>